
<!--jumbotron -->
<div class="jumbotron text-center" style="background-image: url(https://as1.ftcdn.net/v2/jpg/03/15/46/02/1000_F_315460238_r9VGtbJzt7emruDKEY2ouioFPdcbMKs4.jpg); background-size: 100%;">>
  <h1 class="display-4" style="color: #592316;"><strong>Bienvenue !</strong></h1>
  <p class="lead" style="color: #592316;"><strong>Voici l'ensemble des évènements si tu souhaites participer n'hesites pas à te connecter</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>

<!-- carte -->

<div class="row d-flex justify-content-evenly">
  <div class="card" style="width: 18rem; background-color:#9CCED9" img src="https://media.istockphoto.com/vectors/man-taking-selfie-photo-on-smartphone-camera-casual-male-cartoon-in-vector-id1152621134?s=612x612" class="card-img-top" alt="...">
    <div class="card-body">
    
    <h5 class="card-title">Sortie au parc</h5>
    
    <p class="card-text">La nature</p>

    <a href="event_path" class="btn btn" id="yellow-button">Afficher</a>
    <a href="#" class="btn btn" id="yellow-button">Participation</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; background-color:#9CCED9" img src="http://www.crecheoiseaubariole.net/gallery/20170802_093113.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    
    <h5 class="card-title">Visite du musée</h5>
    
    <p class="card-text">Art / Deco</p>

    <a href="event_path" class="btn btn" id="yellow-button">Afficher</a>
    <a href="#" class="btn btn" id="yellow-button">Participation</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; background-color:#9CCED9" img src="https://cdn.icon-icons.com/icons2/878/PNG/512/flower-with-leaves_icon-icons.com_68549.png" class="card-img-top" alt="...">
    <div class="card-body">
    
    <h5 class="card-title">Foire des plantes</h5>
    
    <p class="card-text">Stand de marchands de fleurs</p>

    <a href="event_path" class="btn btn" id="yellow-button">Afficher</a>
    <a href="#" class="btn btn" id="yellow-button">Participation</a>
    </div>
  </div>
</div>

