<!--jumbotron -->
<div class="jumbotron" img src="https://media.routard.com/image/39/2/paris-de-nuit.1564392.w630.jpg" style="background-color: #4B9DA6;">
  <h1 class="display-4" style="color: #735C3F;">Bienvenue !</h1>
  <p class="lead">Voici l'ensemble des évènements si tu souhaites participer n'hesites pas à te connecter</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>